
@model ExpenseWebAppBLL.DTOs.UserDTOs.UserReadDTO

<h1>User profile</h1>

<script src="~/js/HomeFrontend.js"></script>
<script src="~/js/ExpensesFrontend.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome, @{@Model.Username}</h1>
    
    <a class="btn btn-secondary" onclick="RedirectToExpenseCreation()">Create new Expense</a>
    <hr />
    <h3>Total Expenses: $@ViewBag.Expenses</h3>
    <br />

    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Value
            </th>
            <th>
                Description
            </th>
            <th>
                Creation Date
            </th>
            <th>
                Categories
            </th>
            <th>
                Actions
            </th>

        </tr>
        </thead>
        <tbody>
        @{
            foreach (var e in Model.Expenses)
            {
                <tr>
                    <td>
                        @e.Id
                    </td>
                    <td>
                        @e.Value
                    </td>
                    <td>
                        @e.Description
                    </td>
                    <td>
                        @e.CreationDate
                    </td>
                    <td>
                        @e.Categories
                    </td>
                    <td>
                        <button type="button" class="btn btn-light" onclick="RedirectToExpenseEditing(@e.Id)">Edit</button>
                        <button asp-controller="Home" type="button" class="btn btn-light" onclick="deleteExpense(@e.Id)">Delete</button>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>

</div>
