@{
    ViewData["Title"] = "Expenses";
}

@model List<ExpenseWebAppDAL.Entities.Expense>

<script src="~/js/Submit.js"></script>

<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <br />
    <hr />
    <h3>Total Expenses: $@ViewBag.Expenses</h3>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Value
                </th>
                <th>
                    Description
                </th>
                <th>
                    Creation Date
                </th>
                <th>
                    Actions
                </th>

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var e in Model)
                {
                    <tr>
                        <td>
                            @e.Id
                        </td>
                        <td>
                            @e.Value
                        </td>
                        <td>
                            @e.Description
                        </td>
                        <td>
                            @e.CreationDate
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="ExpenseRedirection" asp-route-id="@e.Id">Edit</a>
                            <button asp-controller="Home" type="button" class="btn btn-light" onclick="deleteExpense(@e.Id)">Delete</button>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>