@{
    ViewData["Title"] = "Expenses";
}

@model IEnumerable<ExpenseWebAppBLL.DTOs.ExpenseDTOs.ExpenseReadDTO>

<script src="~/js/ExpensesFrontend.js"></script>

<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <br />
    <a class="btn btn-secondary" onclick="RedirectToExpenseCreation()">Create new</a>
    <hr />
    <h3>Total Expenses: $@ViewBag.Expenses</h3>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Value
                </th>
                <th>
                    Description
                </th>
                <th>
                    Creation Date
                </th>
                <th>
                    Categories
                </th>
                <th>
                    UserId
                </th>
                <th>
                    Actions
                </th>

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var e in Model)
                {
                    <tr>
                        <td>
                            @e.Id
                        </td>
                        <td>
                            @e.Value
                        </td>
                        <td>
                            @e.Description
                        </td>
                        <td>
                            @e.CreationDate
                        </td>
                        <td>
                            @e.Categories
                        </td>
                        <td>
                            @e.UserId
                        </td>
                        <td>
                            <button type="button" class="btn btn-light" onclick="RedirectToExpenseEditing(@e.Id)">Edit</button>
                            <button asp-controller="Home" type="button" class="btn btn-light" onclick="deleteExpense(@e.Id)">Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>